@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}

li {
  list-style: circle;
}

html,
body {
  font-family: Inter;
}

.markdown > * {
  all: revert;
}

table {
  border-collapse: collapse !important;
}

th {
  background-color: gray; /* 表头是浅蓝色的 */
  color: #333;
  font-weight: bold;
}

th,
td {
  padding: 8px;
}

table,
th,
td {
  border: 1px solid #000;
}
