@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown > * {
  all: revert;
}

table {
  border-collapse: collapse !important;
}

th {
  background-color: gray; /* 表头是浅蓝色的 */
  color: #333;
  font-weight: bold;
}

th, td {
  padding: 8px;
}

table,
th,
td {
  border: 1px solid #000;
}
